.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  box-shadow: 0 3px 6px 0 rgba(236, 236, 236, 1);

  @media (max-width: 1200px) {
    height: 10%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 16px;
    width: 100%;
    justify-content: space-between;

    .left_block {
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-left: 42px;
      }

      img {
        height: 33px;
        width: 19px;
      }
    }

    .right_block {
      display: flex;
      align-items: center;

      .name {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-right: 8px;
      }

      img {
        height: 32px;
        width: 32px;
        margin-right: 11px;
      }

      .bar_list {
        background-image: url("../../image/Vector .png");
        width: 7px;
        height: 4px;
        margin-left: 10px;
      }
    }
  }
}





